header {
    flex: 0 0 auto;
}

.main-header {
    width: 100%;
    box-shadow: 0 0 8px var(--black-shadow);
    position: fixed;
    top: 0;
    background: var(--white);
    z-index: 5;
}

.main-header .break-shadow {
    box-shadow: none;
}

.main-header .main-container-header {
    max-width: 100%;
    margin: 0 auto;
    height: 54px;
    justify-content: center;
}

.header, .main-header .main-container-header {
    display: flex;
    align-items: center;
    background: var(--white);
}

.header {
    min-width: 96%;
    max-width: 1920px;
    justify-content: space-between;
}

.header .logo {
    width: 136px;
    height: 36px;
    margin-right: 4%;
    margin-left: 15px;
    cursor: pointer;
}
.header-content-left{
    display: flex;
    justify-content: flex-end;
}

.dropbtn {
    width: 62px;
    height: 25px;
    background-color: var(--white);
    text-align: center;
    border-radius: 5px;
    border: solid 1px var(--white);
}

.dropdown:hover .header{
    background-color: var(--green-emerald);
    color: var(--white);
    border: solid 1px var(--white);
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right:20px;
}

.dropdown-content {
    display: none;
    width: 62px ;
    height: 50px;
    text-align: center;
    border-radius: 5px;
    position: absolute;
}

.dropdown-content a {
    color: var(--black) !important;
    padding: 2px 24px;
    border-radius: 5px;
    display: block;
    cursor: pointer;
}

.dropdown-content a:hover {
    text-decoration: none;
    color: var(--white) !important;
    background-color: var(--green-emerald);
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display:block;
    background-color: var(--white);
}

.logout {
    margin-top: 4px;
    position: absolute;
    right: 40px;
}

.login button {
    background-color: var(--green-emerald);
    border-radius: 4px;
    border: none;
    color: var(--white);
}

@media screen and (max-width: 992px) {
    .header .logo {
        margin-left: 32px;
    }
}

@media screen and (max-width: 870px) {
    .header .logo {
        margin-left: 14px;
    }
}

@media screen and (max-width: 576px) {
    .header .logo {
        margin-top: 15px;
        margin-left: 16px;
    }
}